.wrapper {
  background: #f55991;
  padding: 160px 0;
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0;

  margin-left: 15%;
}
.leftSide {
  max-width: 449px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.img {
  max-width: 220px;
  width: 100%;
}

.infoContainer {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  max-width: 480px;
}

.icon {
  min-width: 60px;
  max-width: 60px;
  width: 100%;
}
.sliders {
  position: relative;
  padding-left: 15%;
}
.bgImg {
  position: absolute;
  top: auto;
  width: 100%;
  top: 50%;
  transform: translateY(-25%);

  right: 0;
  left: 0;
  z-index: -1;
  min-height: 200px;
  object-fit: cover;
}
.card {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  padding: 40px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(3, 7, 18, 0.06);
  backdrop-filter: blur(24px);
  height: 100%;
}

.info {
  word-break: break-all;
  padding-top: 5px;
}
@media only screen and (max-width: 1540px) {
  .infoContainer {
    max-width: 380px;
  }
}
@media only screen and (max-width: 1199px) {
  .container {
    padding: 0;
    margin: 0 auto;
  }
  .sliders {
    padding-left: 12px;
  }
  .leftSide {
    padding: 0;
  }
  .card {
    padding: 18px;
  }
  .icon {
    max-width: 50px;
    min-width: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .wrapper {
    padding: 80px 0;
  }
  .leftSide {
    margin: 0 auto;
    max-width: 100%;
  }
  .infoContainer {
    max-width: 300px;
  }
  .leftSide {
    gap: 15px;
  }
  .container {
    align-items: center;
  }
  .img {
    max-width: 100px;
    min-height: 100px;
  }
}
@media only screen and (max-width: 520px) {
  .icon {
    max-width: 40px;
    min-width: 40px;
    margin-top: 3px;
  }
  .card,
  .infoContainer {
    flex-direction: column;
    gap: 12px;
  }
  .container {
    position: relative;
  }
  .img {
    position: absolute;
    right: 0;
    top: 0px;
    transform: translateY(-80%);
    max-width: 40px;
    min-width: 40px;
    height: 40px;
  }
  .infoContainer {
    max-width: 240px;
  }
}
@media only screen and (max-width: 350px) {
  .infoContainer {
    max-width: 220px;
  }
}
